@{
    ViewData["Title"] = "Home Page";
}
<div class="container">
    <div class="text-center">
    <h1 class="display-4">Welcome To my channel</h1>
    <p>Learn about my <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<div class="row">
    <div class="col-md-2">
        <button type="button" class="w-75 btn btn-primary connect_wallet">Connect Wallet</button>
    </div>
    
    <label class="col-md-2 wallet_address"></label>
</div>
<p></p>

<div class="row">
    <div class="col-md-4">
        <input type="text" class="form-control" id="amoutWithdraw" placeholder="Amount Withdraw"> 
    </div>
    
    <button type="button" class="col-md-2 btn btn-success disabled btnWithdraw">Withdraw</button>
    
</div>

<p></p>
<div class="row">
    <div class="col-md-4">
        <input type="text" class="form-control" id="amoutDeposit" placeholder="Amount"> 
    </div>
    
    <button type="button" class="col-md-2 btn btn-warning disabled btnDeposit">Deposit</button>
</div>
</div>
