@{
    ViewData["Title"] = "Home Page";
}
<div class="container">
    <div class="text-center">
    <h1 class="display-4">Welcome To my channel</h1>
    <p>Learn about my <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<button type="button" class="btn btn-primary connect_wallet">Connect Wallet</button>
<p></p>

<div class="row">
    <div class="col-md-4">
        <input type="text" class="form-control" id="amoutWithdraw" placeholder="Amount Withdraw"> 
    </div>
    
    <button type="button" class="col-md-2 btn btn-success">Withdraw</button>
</div>

<p></p>
<div class="row">
    <div class="col-md-4">
        <input type="text" class="form-control" id="amoutDeposit" placeholder="Amount"> 
    </div>
    
    <button type="button" class="col-md-2 btn btn-warning">Deposit</button>
</div>


<button type="button" class="btn btn-link">Link</button>
</div>
